<div class="main" *ngIf="statData != null">
<p>Mean {{ statData.results.mean }} </p>

<p>Standard Deviation {{ statData.results.standardDeviation }} </p>

<p>Frequencies of numbers:</p>

<ul class="trElementEmulation">
  <li>
    <div>
      <div style="float: left; clear: none; position: relative; min-width: 100px; margin-right: 30px;">Range</div>
      <div style="float: left; clear: none; position: relative;">Count</div>
    </div>
  </li>
  <li *ngFor="let rng of statData.results.frequencies; let itemIndex = index">
    <div>
      <div style="float: left; clear: none; position: relative; min-width: 100px; margin-right: 30px;;">{{rng.range}} to  {{rng.range + 10}}</div>
      <div style="float: left; clear: none; position: relative;">{{rng.count}}</div>
    </div>
  </li>
</ul>
